@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-poppins), sans-serif;
}

@keyframes slidein {
  from {
    transform: translateX(100%); /* <- pehle -100% tha, ab +100% */
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slidein {
  animation: slidein 0.5s ease-out;
}
/* Swipper slider */
.swiper-button-next,
.swiper-button-prev {

}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #0c0b31; /* 👈 Yahan apna color dalna hai */
  font-size: 30px; /* 👈 Size bhi control yahan hota hai */
}
/* Swipper slider End */
